/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/*.mmdb
/vendor
.env
.env.server
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
